* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.modal-overlay {
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0f0f0f2c;
}

.modal-text {
  max-width: 420px;
  margin: auto;
}

.modal-img {
  object-fit: contain;
  max-height: auto;
  max-width: 100%;
}

.close-modal {
  cursor: pointer;
  font-size: 1.5rem;
  color: #0f0f0f94;
}
a {
  color: rgb(78, 78, 78);
}

a:hover {
  text-decoration: none;
  color: black;
}
